:root {
  --flax-smoke-color: #7E8967;
  --bg-color: #EFEFEF;
  --light-gray-color: #777777;
  --dark-gray-color: #505050;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
}

.main {
  display: flex;
}

.left-columns {
  width: 40%;
  background-color: var(--flax-smoke-color);
  color: white;
  
  padding: 30px;
}

.right-columns {
  background-color: white;
  color: var(--light-gray-color);
  width: 60%;
  padding: 30px;
}

.avatar {
  text-align: center;
  margin-bottom: 40px;
}

.avatar__img {
  background-color: white;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 10px solid white;
}

.avatar__title {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 5px;
  
}

.avatar__subtitle {
  font-weight: 400;
}

.section {
  margin-bottom: 30px;
}

.section__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  border-bottom: 2px solid var(--light-gray-color) ;
}

.section__title-left {
  text-align: center; 
  padding-bottom: 5px;
  border-color: white;
}

.contact__list {
  padding-left: 20px;
  list-style: none;
}

.contact__item img {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.contact__item-link {
  color: white;
  text-decoration: none;
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact__item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.skills__item {
  margin-bottom: 15px;
}

.languages__item {
  margin-bottom: 15px;
}